body{background-color: rgb(224, 255, 196); }
#h1{position: absolute; left: 500px}


#link1{position: absolute; top: -10px; left: 230px}
#link2{position: absolute; top: -10px; left: 360px}
#link3{position: absolute; top: -10px; left: 500px}
#link4{position: absolute; top: -10px; left: 660px}

#links{background-color: aliceblue;
height: 30px;
width: 900px;
position: absolute; top: 40px; left: 120px}

a:link{color: rgb(237, 255, 253);}

#picture{position: absolute; top: 120px; left: 40px}

#body{background-color: rgb(165, 212, 253);
height: 850px;
width: 1100px;
padding: 25px;
position:absolute; top: 80px; left: 50px}

#paragraph1{position: absolute; top: 140px; left: 550px}

#list1{position: absolute; top: 240px; left: 550px}
#list2{position: absolute; top: 240px; left: 800px}

#picture2{position: absolute; top: 500px; left: 400px}

#paragraph2{position: absolute; top: 500px; left: 40px; right: 750px}

#paragraph3{position: absolute; top: 500px; left: 830px}